.footer{
  width: 100%;
  height: auto;
  padding: 8% 0;
  overflow: hidden;

  &Inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
  &__logo{
    display: block;
    position: relative;
    width: 102px;
    height: 42px;
    background: url('./../../../../src/img/a4logo.svg') no-repeat center;
    background-size: contain;
    margin-bottom: 62px;
    &_purple{
      color: #30125C;
    }
  }
  &__googlePlay{
    float: left;
    display: block;
    position: relative;
    width: 217px;
    height: 70px;
    background: url('./../../../../src/img/GooglePlayImage.svg') no-repeat center;
    background-size: 98%;
  }
  &__appStore{
    float: left;
    display: block;
    position: relative;
    width: 206px;
    height: 70px;
    margin-right: 54px;
    background: url('./../../../../src/img/AppStoreImage.svg') no-repeat center;
    background-size: 98%;
  }
  &__scrollToTop{
    float: right;
    display: block;
    position: relative;
    width: 70px;
    height: 70px;
    background: url('./../../../../src/img/scrollToTop.svg') no-repeat center;
    background-size: contain;
  }
  &__mobileScrollToTop {
    display: none;
    position: relative;
    width: 70px;
    height: 70px;
    background: url('./../../../../src/img/scrollToTop.svg') no-repeat center;
    background-size: contain;
  }
  &__description{
    width: 315px;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #30125C;
    &_bold{
      font-style: normal;
      font-weight: bold;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #30125C;
    }
  }
  &__navigationList{
    height: 100%;
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #30125C;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__downloadLinks{

  }
  &__row{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__legalInformation{
    font-style: normal;
    font-weight: normal;
    max-width: 736px;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #30125C;
    opacity: 0.5;
  }
  &__legalInformationForMobileScreen {
    display: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #30125C;
    opacity: 0.5;
  }
}
@media (max-width:1660px){

  .footer__legalInformation {
    max-width: 630px;
  }
}
@media (max-width: 1440px) {
  .footer__description {
    width: 250px;
    font-size: 18px;
  }
}

@media (max-width: 1320px) {
  .footer__column_second {
    margin-right: 50px;
  }
  .footer__legalInformation {
    max-width: 480px;
    font-size: 15px;
  }
  .footer__appStore {
    width: 180px;
    margin-right: 20px;
  }
  .footer__googlePlay {
    width: 180px;
  }
}

@media (max-width:1200px) {
  .footer {

    &__logo {
      margin-bottom: 26px;
    }
    &Inner {
      display: grid;
      grid-template-columns: 0.8fr 1fr 1fr;
      grid-template-rows: 75px 30px 80px;
      grid-row-gap: 15px;
    }
    &__column {
      justify-content: flex-start;
      &_first {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 4;
      }
      &_second {

        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
      }
      &_third {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
      }
    }
    &__navigationList {
      flex-direction: row;
    }
    &__legalInformation {
      display: none;
    }
    &__legalInformationForMobileScreen {

      display: grid;
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
      border-top: 1px solid #DAD5E2;
    }
  }
}
@media (max-width: 868px) {
  .footer {

    &Inner {
      display: grid;
      grid-template-columns: 0.8fr 1fr 1fr;
      grid-template-rows: 75px 65px 30px 80px;
      grid-row-gap: 15px;
    }
    &__description {
      max-width: 230px;
      font-size: 14px;
    }
    &__column {
      &_first {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
      }
      &_second {
        margin-right: 0;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
      }
      &_third {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
      }
    }
    &__legalInformationForMobileScreen {
      padding-top: 32px;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 4;
    }
  }
}
@media (max-width: 812px) {
  .footer {
    &__navigationList {
      font-size: 13px;
    }
    &__legalInformationForMobileScreen {
      font-size: 12px;
    }
  }
}
@media (max-width: 667px) {
  .footer {

    &__scrollToTop {
      display: none;
    }
    &Inner {
      grid-template-columns: 3fr auto;
      grid-template-rows: 75px 30px 50px auto auto;
    }
    &__column {
      &_first {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
      }
      &_second {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
      }
      &_third {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
      }
    }
    &__legalInformationForMobileScreen {
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 6;
    }
    &__mobileScrollToTop {
      display: block;
      grid-column-start: 2;
      grid-row-start: 1;
    }
    &__row {
      height: auto;
      justify-content: flex-start;
    }
    &__appStore {
      width: 141px;
      height: 48px;
    }
    &__googlePlay {
      width: 141px;
      height: 48px;
    }
  }
}
@media (max-width: 500px) {
  .footer {
    &Inner {
      grid-template-columns: 85% 15%;
    }
    &__logo {
      width: 53px;
      height: 22px;
    }
    &__mobileScrollToTop {
      width: 48px;
      height: 48px;
      justify-self: flex-end;
    }
    &__row {
      justify-content: flex-start;
    }
    &__downloadLinks {
      display: flex;
      grid-gap: 5%;
      width: 100%;
    }
    &__appStore {
      margin-right: 0;
    }
  }
}
@media (max-width: 428px) {
  .footer {
    &__navigationList {
      display: grid;
      grid-template-columns: 141px 141px;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      justify-content: normal;
    }
  }
}
