.header{
  width: 100%;
  height: auto;
  padding-bottom: 3.7%;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 46px;


  &__logo{
    display: block;
    position: relative;
    width: 102px;
    height: 42px;
    background: url('./../../../../src/img/a4logo.svg') no-repeat center;
    background-size: contain;
    &_purple{
      color: #30125C;
    }
  }
  &__menu{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 16%;
    grid-gap: 10%;
    align-items: center;

  }
  &__list {
    white-space: nowrap;
  }
  &__link {
    font-size: 17px;
    line-height: 24px;
    line-height: 140%;
    align: left;
    vertical-align: top;
    letter-spacing: 2%;
    color: #30125C;
  }
    &__languageItem {
    display: flex;
    flex-direction: row;
    grid-gap: 16px;
    &Btn {
      display: inline-block;
      cursor: pointer;
      background: transparent;
      width: 68px;
      height: 24px;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #30125C;
      border: 0;
    }
    &_imgRu {
      width: 20px;
      height: 20px;
      background: url('./../../../../src/img/ruFlag.svg') no-repeat center;
    }
    &_imgEn {
      width: 20px;
      height: 20px;
      background: url('./../../../../src/img/engFlag.svg') no-repeat center;
    }
  }

  &BurgerMenu {
    display: none;
    &__toogle {
      opacity: 0;
    }
    &__logo {
      display: none;
      align-self: baseline;
      width: 53px;
      height: 22px;
      background: url('../../../img/burgera4icon.svg');
      z-index: 3;

    }

    &__button {
      display: flex; /* используем flex для центрирования содержимого */
      align-items: center;  /* центрируем содержимое кнопки */
      justify-content: center;
      width: 54px;
      height: 54px;
      cursor: pointer;
      z-index: 3;
      border: 1px solid #30125C;
      box-sizing: border-box;
      border-radius: 10px;
      background: #ffffff;

      &_active {
        top: 30px;
        right: -8.5%;
        position: absolute;
        z-index: 3;
        border: 1.5px solid #CDF55B;
        box-sizing: border-box;
        border-radius: 10px;
        background: #30125C;

      }
    }

    &__span {
      display: block;
      content: "";
      width: 22px;
      height: 2px;
      position: absolute;
      background-color: #30125C;
      font-size: 0;
      color: transparent;
      z-index: 2;

      &_active {
        display: none;
      }

      &Cross {
        display: none;
        content: "";
        width: 22px;
        height: 2px;
        position: absolute;
        background-color: #ffffff;
        font-size: 0;
        color: transparent;
        transform: rotate(45deg);
        z-index: 2;
        &_active {
          display: block;
        }
      }
      &Cross:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: -8px;
        left: 0;
        background-color: #ffffff;
        z-index: 2;
        top: 0;
        transform: rotate(90deg);
      }
    }
    &__span:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: -8px;
      left: 0;
      background-color: #30125C;

    }
    &__span:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: -8px;
      left: 0;
      background-color: #30125C;

    }
    &__box {
      display: none;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: -100%;
      width: 375px;
      height: auto;
      padding: 80px 0 39px;
      transition: 850ms;
      background-color: #30125C;
      visibility: hidden;
      z-index: 1;
      &_active {
        display: flex;
        right: -12.5%;
        visibility: visible;
        transition: 350ms;
      }
    }

    &__link {
      display: block;
      padding: 15px 38px;
      font-style: regular;
      font-size: 23px;
      line-height: 32px;
      line-height: 140%;
      align: Left;
      vertical-align: Top;
      letter-spacing: 2%;
      color: #FFF;

      &:hover {
        background-color: #ffffff;
        color: #30125C;
      }
    }
    &__list {
      .nav__languageItem {
        display: block;
        padding: 12px 24px;
        font-size: 16px;
        line-height: 24px;
        line-height: 140%;
        align: left;
        vertical-align: top;
        letter-spacing: 2%;
        // color: #ffffff;
        &:hover {
          background-color: #ffffff;
          color: #30125C;
        }
        &Btn {
          width: 100%;
          height: 100%;
          display: flex;
          font-size: 16px;
          color: #ffffff;
          &:hover {
            background-color: #ffffff;
            color: #30125C;
          }
        }
        img {
          display: none;
        }
      }
    }
    &__socialLinks {
      display: flex;
      grid-gap: 30px;
      margin-top: 100px;
      padding: 0 32px;
    }
    &__socialLink {
      width: 55px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1.5px solid #CDF55B;
      box-sizing: border-box;
      border-radius: 13px;

      &_tg {
        background: url('../../../img/Sendburgertg.svg') no-repeat center;
      }
      &_instagram {
        width: 27px;
        height: 27px;
        background: url('../../../img/Shapeburgerinst.svg');

      }
      &_twitter {
        width: 27px;
        height: 23px;
        background: url('../../../img/Shapeburgertwitter.svg');

      }
      &_langRu {
        width: 22px;
        height: 22px;
        background: url('../../../img/burgermenuiconrus.svg');
      }
      &_langEn {
        width: 28px;
        height: 33px;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
      }
    }
  }

}

@media (max-width: 1200px) {
  .nav__menu {
    grid-gap: 6%;
  }
}
@media (max-width: 1024px) {

  .nav__logo {
    width: 80px;
    height: 30px;
    position: static;
  }
  .nav__menu {
    width: 61%;
    position: static;
    grid-gap: 4%;
  }
  .nav__languageItem {
    grid-gap: 8px;
  }
}
@media (max-width: 812px) {
  .header {
    padding-top: 0;
  }
  .nav {
    padding-top: 46px;
    &__logo {
      display: flex;
      align-self: baseline;
      width: 59px;
      height: 22px;
    }
    &__menu {
      display: none;
    }
    &__languageItem {
      display: none;
    }
    &BurgerMenu {
      display: flex;
      width: fit-content;
      margin-top: -15px;
    }
  }
}
@media (max-width: 428px) {

  .navBurgerMenu {
    &__logo_active {
      display: block;
      position: absolute;
      left: 0;
      top: 46px;
    }
    &__button_active {
      right: 0;
    }
    &__box {
      width: 125%;
      padding-top: 178px;
    }
  }
}
