.gallery {
  padding: 116px 0 202px;
  background: #F9FBFC;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 92px;
    align-items: flex-end;
  }
  &__title {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    letter-spacing: 0.02em;
    color: #30125C
  }
  &__link {
    width: 286px;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #30125C;
    background: #CDF55B;
    border-radius: 27px;
    span {

      width: 33px;
      height: 28px;
      margin-right: 15px;
      background: url('../../../img/Vectorgallerylinkicon.svg')no-repeat center;
      background-size: contain;
    }
  }

  &__items {
    white-space: nowrap;
    height: 700px;
    padding: 0 235px;
    overflow-y: hidden;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  &__item {
    display: inline-block;
    width: 335px;
    height: 570px;
    border-radius: 35px;
    background: #FFFFFF;
    box-shadow: 0 39px 78px -35px rgba(159, 182, 194, 0.3);
    margin-right: 37px;

    &Img {
      width: 100%;
      height: 363px;
      border-radius: 35px;
      &_1 {
        background: url('../../../img/galleryimg1.png')no-repeat center;
        background-size: cover;
      }
      &_2 {
        background: url('../../../img/galleryimg2.png')no-repeat center;
        background-size: cover;
      }
      &_3 {
        background: url('../../../img/galleryimg3.png')no-repeat center;
        background-size: cover;
      }
      &_4 {
        background: url('../../../img/galleryimg4.png')no-repeat center;
        background-size: cover;
      }
      &_5 {
        background: url('../../../img/galleryimg2.png')no-repeat center;
        background-size: cover;
      }
      &_6 {
        background: url('../../../img/galleryimg1.png')no-repeat center;
        background-size: cover;
      }
    }
    &Info {
      display: flex;
      flex-direction: column;
      padding: 39px 39px 40px;
      &Number {
        display: flex;
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #30125C;
        margin-right: 30px;
        padding-bottom: 20px;

        span:nth-child(2n) {
          display: block;
          width: 45px;
          height: 45px;
          margin-left: 20px;
          background: url('../../../img/gallerya4icon.svg') no-repeat center;
          background-size: contain;
        }
      }

      &Desc {
        p {
          font-weight: normal;
          font-size: 14px;
          line-height: 140%;
          letter-spacing: 0.06em;
          color: #30125C;

          &:first-child {
            font-weight: 600;
            margin-bottom: 8px;
          }
          &:nth-child(2n) {
            font-size: 14px;
            opacity: 0.7;

          }
        }
      }
    }
  }
}

.galleryInnerContainer{
  height: 650px;
  overflow: hidden;
}
@media (max-width: 1660px) {
  .gallery {

    padding: 100px 0 170px;
    background: #F9FBFC;

    &__items{
      padding: 0 12%;
    }
    &__item {
      //&Img {
      //  height: 310px;
      //}
      &InfoNumber {
        font-size: 36px;
      }
    }
  }
}
@media (max-width: 1440px) {
  .gallery {

    padding: 90px 0 150px;
    background: #F9FBFC;

    &__header {
      margin-bottom: 50px;
    }
    &__items {
      padding-left: 10%;
    }
    &__item {
      //&Img {
      //  height: 260px;
      //}
      &Info {
        padding: 20px 20px 20px;
      }
      &InfoNumber {
        font-size: 32px;
      }
      &InfoDesc {
        p {
          font-size: 12px;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .gallery {
    &__link {
      width: 259px;
      height: 80px;
      font-size: 18px;
      span {
        width: 25px;
        height: 22px;
      }
    }
    &__item {
      min-width: 216px;
      //&Img {
      //  height: 220px;
      //}
      &InfoNumber {
        font-size: 25px;
        margin-right: 0;
        span:nth-child(2n){
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .gallery {

    padding: 80px 0 150px;
    background: #F9FBFC;

    &__link {
      width: 181px;
      height: 60px;
      font-size: 16px;
      span {
        width: 22px;
        height: 18px;
      }
    }
  }
}
@media (max-width: 812px) {
  .gallery {

    padding: 70px 0 120px;
    background: #F9FBFC;

    &__link {
      font-size: 13px;
    }
    &__items {
      padding-left: 8.5%;
    }
    &__item {
      &InfoNumber {
        font-size: 18px;
        margin-right: 0;
        span:nth-child(2n){
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .gallery {

    position: relative;

    &__link {
      position: absolute;
      left: 30%;
      bottom: 5%;
    }
    &__item {
      height: auto;
      min-width: 180px;

      //&Img {
      //  height: 180px;
      //}

      &__info {
        padding-bottom: 0;

        &Desc {
          p:nth-child(2n) {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .gallery {
    &__link {
      left: 26%;
    }
  }
}
