.swapCalculator {
  position: relative;
  padding-top: 7%;
  padding-bottom: 9%;
  overflow: hidden;
  .blurryBubble{
    &_green{
      width: 800px;
      height: 800px;
      background: url('./../../../../src/img/blury_stuff_green.png') no-repeat center;
      background-size: contain;
      position: absolute;
      top: -300px;
      right: 0;
    }
    &_pink{
      width: 800px;
      height: 400px;
      background: url('./../../../../src/img/blury_stuff_pink.png') no-repeat center;
      background-size: contain;
      position: absolute;
      bottom: 50px;
      left: 25%;
    }
  }
}

.calculator{
  position: relative;
  width: 818px;
  height: 451px;
  border-radius: 50px;
  background: #FFFFFF;
  box-shadow: 0 12px 94px -10px rgba(0, 0, 0, 0.06);
  justify-self: right;
  &__wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    grid-gap: 40px;
  }
}

@media (max-width: 1660px) {
  .calculator {
    width: 704px;
    height: 390px;
  }
  .swapCalculator {
    .blurryBubble {
      &_green {
        background-position-x: 20em;
        width: 700px;
        height: 350px;
        top: -17%;
        right: 0;
      }

      &_pink {
        width: 700px;
        height: 350px;

        bottom: 0;
        left: 21%;
        background-position-y: 2em;
      }
    }
  }
}

@media (max-width: 1440px) {
  .swapCalculator {
    .blurryBubble {
      &_green {
        background-position-x: 12em;
        width: 600px;
      }

      &_pink {

        width: 600px;
        left: 18%;
      }
    }
  }
  .calculator {
    width: 606px;
    height: 326px;
    display: flex;
  }
}

@media (max-width: 1200px) {
  .swapCalculator {
    padding-top: 2%;

    .blurryBubble{
      &_green{
        width: 500px;
        right: 2%;
        top: -35%;
      }
      &_pink{
        width: 500px;
      }
    }
  }
  .calculator {
    width: 505px;
    height: 271px;
  }
}
@media (max-width: 1024px) {
  .swapCalculator {
    padding-top: 2%;

    .blurryBubble{
      &_green{
        right: 14%;
        top: 0;
      }
      &_pink{
        left: 0;
      }
    }
  }
  .calculator {
    justify-self: center;
    &__wrapper {
      grid-template-columns: 1fr;
    }
  }
}
@media (max-width: 736px) {
  .swapCalculator {
    .blurryBubble {

      &_green {
        width: 800px;
        height: 800px;
        top: 0;
        left: 320.6px;
        background-position-x: 0;
        background-position-y: 0;
        transform: rotate(-110.87deg);
        background-size: contain;
        z-index: 1;
      }
      &_pink {
        width: 406px;
        height: 412px;
        left: -25%;
        top: 20%;
        background-size: cover;
        background-position-x: 0;
        background-position-y: 0;
      }
    }
  }
  .calculator {
    width: 311px;
    height: 371px;
    background: #FFFFFF;
    box-shadow: 0px 3px 64px -10px rgba(0, 0, 0, 0.11);
    border-radius: 30px;

    &__wrapper {
      margin: 0 auto;
      width: 411px;
      flex-direction: column;
      padding-top: 34px;
      background: #CDF55B;
      border-radius: 30px;
      z-index: 3;
    }
    &__title {
      display: flex;
      flex-direction: row-reverse;
      margin: 0 31px;
      justify-content: space-between;
      h2 {
        margin-bottom: 0;
      }
    }
  }
}
