.swapCalculator {
  position: relative;

  .blurryBubble{
    &_green{
      width: 800px;
      height: 800px;
      background: url('./../../../../src/img/blury_stuff_green.png') no-repeat center;
      background-size: contain;
      position: absolute;
      top: -300px;
      right: 0;
    }
    &_pink{
      width: 800px;
      height: 400px;
      background: url('./../../../../src/img/blury_stuff_pink.png') no-repeat center;
      background-size: contain;
      position: absolute;
      bottom: 50px;
      left: 25%;
    }
  }
}

.calculator{
  position: relative;
  width: 818px;
  height: 451px;
  margin-bottom: 189px;
  border-radius: 50px;
  background: #FFFFFF;
  box-shadow: 0 12px 94px -10px rgba(0, 0, 0, 0.06);

  &__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
