.heroscreen {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 253px;
  padding-top: 100px;
  &__header {
    max-width: 825px;
    font-style: normal;
    font-weight: normal;
    font-size: 67px;
    line-height: 130%;

    color: #30125C;

    &_span {
      color: #CDF55B;
    }
  }

  &__description {
    max-width: 600px;
    margin-top: 45px;
    margin-bottom: 163px;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    letter-spacing: 0.02em;

    color: #30125C;
  }

  &Store {
    display: flex;
    max-width: 480px;
    justify-content: space-between;
    &__appStore {
      width: 220px;
      height: 75px;
      margin-right: 34px;
      background: url('./../../../../src/img/AppStoreImage.svg') no-repeat center;
      background-size: contain;
    }
    &__googlePlay {
      width: 220px;
      height: 75px;
      background: url('./../../../../src/img/GooglePlayImage.svg') no-repeat center;
      background-size: contain;
    }
  }

  &__background{
    position: relative;
    width: 100%;

    &_green {
      position: absolute;
      top: 0;
      left: 0;
      width: 350px;
      height: 350px;
      background: url('../../../img/heroScreenLeftBg.png') no-repeat center;
      background-size: contain;
    }
    &_img {
      position: absolute;
      width: 719.27px;
      height: 810.21px;
      top: 0;
      left: 1100px;
      background:url('../../../img/heroscreenimg.png');
    }
  }
}
