.heroscreen {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 6.7% 0;
  &__header {
    max-width: 56%;
    font-style: normal;
    font-weight: normal;
    font-size: 67px;
    line-height: 130%;

    color: #30125C;

    span {
      &:nth-child(2n){

        color: #CDF55B;
      }
    }
  }

  &__description {
    max-width: 600px;
    margin-top: 4%;
    margin-bottom: 10%;
    font-style: normal;
    font-weight: normal;
    line-height: 140%;
    letter-spacing: 0.02em;

    color: #30125C;
  }

  &Store {
    display: flex;
    max-width: 480px;
    justify-content: space-between;
    margin-bottom: 14%;
    &__appStore {
      width: 220px;
      height: 75px;
      margin-right: 34px;
      background: url('./../../../../src/img/AppStoreImage.svg') no-repeat center;
      background-size: 99%;
    }
    &__googlePlay {
      width: 220px;
      height: 75px;
      background: url('./../../../../src/img/GooglePlayImage.svg') no-repeat center;
      background-size: 99%;
    }
  }

  &__background{
    position: relative;
    width: 100%;
    overflow: hidden;

    &_green {
      position: absolute;
      top: 0;
      left: 0;
      width: 398px;
      height: 616px;
      background: url('../../../img/heroScreenLeftBg.png') no-repeat center;
      background-size: contain;
      background-position-y: -1em;
    }
    &_img {
      position: absolute;
      width: 37.5%;
      height: 89%;
      top: 0;
      right: 9%;
      background:url('../../../img/heroscreenimg.webp') no-repeat;
    }
  }

}

//Adaptive
@media (max-width: 1900px) {
  .heroscreen__header{
    max-width: 64%;
  }
  .heroscreen__background_img{
    height: 89%;
    background-size: contain;
    right: 4%;
  }
}

@media (max-width: 1660px) {
  .heroscreen__header{
    max-width: 56%;
    font-size: 56px;
  }

}
@media (max-width: 1440px) {
  .heroscreen__header{
    max-width: 60%;
    font-size: 48px;
  }
  .heroscreen__description {
    max-width: 39%;
  }
  .heroscreen__background_img{
    height: 89%;
  }
  .heroscreen__background_green {
    width: 16%;
    height: 57%;
  }
  .heroscreenStore {
    max-width: 400px;
    margin-bottom: 4%;
}

}

@media (max-width: 1200px) {
  .heroscreen__header{
    font-size: 40px;
  }
}
@media (max-width: 1024px) {
  .heroscreen__header{
    font-size: 34px;
  }
  .heroscreenStore {
    max-width: 300px;
  }
  .heroscreenStore__appStore {
    width: 140px;
    height: 50px;
    margin-right: 10px;
  }
  .heroscreenStore__googlePlay {
    width: 140px;
    height: 50px;
    margin-right: 10px;
  }
}
@media (max-width: 667px) {
  .heroscreen {
    &__header {
      width: 80%;
      max-width: max-content;
      order: 1;
    }
    &__description {
      width: 80%;
      max-width: max-content;
      order: 2;
      margin-bottom: 4%;
    }
    &Store {
      order: 4;
      margin-bottom: 0;
    }
    &__background_img {
      display: flex;
      height: 315px;
      width: 311px;
      background:url('../../../img/heroscreenmobileimg.png') no-repeat;
      background-size: cover;
      order: 3;
      position: static;
    }
  }
}
@media (max-width: 428px) {
  .heroscreen {
    &__header {
      width: 95%;
    }
    &__description {
      width: 95%;
    }
  }
}
@media (max-width: 414px) {
  .heroscreen {
    &__header {
      width: 100%;
    }
    &__description {
      width: 100%;
    }
  }
}
@media (max-width: 390px) {
  .heroscreen {
    &__header {
      width: 105%;
    }
  }
}
@media (max-width: 375px){
  .heroscreen__header {
      width: 107%;
  }
}
@media (max-width: 374px) {
  .heroscreen__header {
    width: 100%;
    font-size: 32px;
  }
}
