.heroscreen {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 6.7% 0;
  &__header {
    max-width: 56%;
    font-style: normal;
    font-weight: normal;
    font-size: 67px;
    line-height: 130%;

    color: #30125C;

    &_span {
      color: #CDF55B;
    }
  }

  &__description {
    max-width: 600px;
    margin-top: 4%;
    margin-bottom: 10%;
    font-style: normal;
    font-weight: normal;
    line-height: 140%;
    letter-spacing: 0.02em;

    color: #30125C;
  }

  &Store {
    display: flex;
    max-width: 480px;
    justify-content: space-between;
    margin-bottom: 14%;
    &__appStore {
      width: 220px;
      height: 75px;
      margin-right: 34px;
      background: url('./../../../../src/img/AppStoreImage.svg') no-repeat center;
      background-size: contain;
    }
    &__googlePlay {
      width: 220px;
      height: 75px;
      background: url('./../../../../src/img/GooglePlayImage.svg') no-repeat center;
      background-size: contain;
    }
  }

  &__background{
    position: relative;
    width: 100%;

    &_green {
      position: absolute;
      top: 0;
      left: 0;
      width: 398px;
      height: 616px;
      background: url('../../../img/heroScreenLeftBg.png') no-repeat center;
      background-size: contain;
      background-position-y: -1em;
    }
    &_img {
      position: absolute;
      width: 37.5%;
      height: 89%;
      top: 0;
      right: 9%;
      background:url('../../../img/heroscreenimg.png') no-repeat;
    }
  }

}

//Adaptive
@media (max-width: 1900px) {
  .heroscreen__header{
    max-width: 64%;
  }
  .heroscreen__background_img{
    height: 89%;
    background-size: contain;
    right: 4%;
  }
}

@media (max-width: 1660px) {
  .heroscreen__header{
    max-width: 56%;
    font-size: 56px;
  }

}
@media (max-width: 1440px) {
  .heroscreen__header{
    max-width: 60%;
    font-size: 48px;
  }
  .heroscreen__description {
    max-width: 39%;
  }
  .heroscreen__background_img{
    height: 89%;
  }
  .heroscreen__background_green {
    width: 16%;
    height: 57%;
  }
  .heroscreenStore {
    max-width: 400px;
    margin-bottom: 4%;
}

}

@media (max-width: 1200px) {
  .heroscreen__header{
    font-size: 40px;
  }
}
