
//   ---     SOME OTHERS STYLES YOLO   ---   //
h2 {
  font-size: 42px;
}
h3 {
  font-size: 33px;
}
p {
  font-size: 21px;
  line-height: 140%;
  letter-spacing: 0.02em;
}
.container {
  width: 1450px;
  margin: 0 auto;
  height: auto;
}
.relative{
  position: relative;
}
.common{
  &__h2{
    font-style: normal;
    font-weight: bold;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #30125C;
    margin-bottom: 29px;
    &_white{
      color: #ffffff;
    }
  }
  &__number{
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #30125C;
    margin-bottom: 20px;
    z-index: 10;
    &_green{
      margin-top: 107px;
      color: #CDF55B;
    }
    &_pink{
      color: #8532FD;
    }
  }
  &__par{
    font-style: normal;
    font-weight: normal;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #30125C;
    &_bold{
      font-weight: bold;
    }
  }
  &__background{
    &_purple{
      background: #30125C;
    }
  }
  &__maxWidth{
    &_480{
      max-width: 480px;
    }
  }
}
@media (max-width: 1919px) {
  .container {
    width: calc(100% - 24%);
  }
}
@media (max-width: 1660px) {
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
  }
}
@media (max-width: 1440px) {
  .container {
    width: calc(100% - 20%);
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  .common__number {
    font-size: 18px;
  }

}

@media (max-width: 1200px) {
  h2{
    font-size: 25px;
  }
  h3 {
    font-size: 21px;
  }
  p {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  h2{
    font-size: 21px;
  }
  h3 {
    font-size: 18px;
  }
  .common__number {
    font-size: 13px;
    &_green {
      margin-top: 10%;
    }
  }

}

//for mobile screens
@media (max-width: 812px) {
  p {
    font-size: 13px;
  }
  .container {
    width: calc(100% - 17%);

  }
  .common__number {
    margin-bottom: 14px;
  }
}

@media (max-width: 350px) {
  h2 {
    font-size: 18px;
  }
}

//   ---     ADD COMPONENTS STYLES HERE   ---   //

@import '../Navbar/navbar.scss';
@import './../Footer/_footer.scss';
@import '../SocialMedia/_socialmedia.scss';
@import '../Roadmap/_roadmap.scss';
@import '../SwapCalculator/_swapcalculator.scss';
@import '../Emission/_emission.scss';
@import '../HeroScreen/heroscreen.scss';
@import '../CountDown/countdown.scss';
@import '../About/about.scss';
@import '../Benefits/benefits.scss';
@import '../ExternalResource/externalresource.scss';
@import '../Gallerycard/gallery.scss';
