
//   ---     ADD COMPONENTS STYLES HERE   ---   //

@import './../Footer/_footer.scss';


//   ---     SOME OTHERS STYLES YOLO   ---   //

.container{
  width: 1450px;
  margin: 0 auto;
  height: auto;
}
