
//   ---     SOME OTHERS STYLES YOLO   ---   //

.container{
  width: 1450px;
  // width: calc(100% - 470px);
  margin: 0 auto;
  height: auto;
}
.relative{
  position: relative;
}
.common{
  &__h2{
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #30125C;
    margin-bottom: 29px;
    &_white{
      color: #ffffff;
    }
  }
  &__number{
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #30125C;
    margin-bottom: 20px;
    z-index: 10;
    &_green{
      margin-top: 107px;
      color: #CDF55B;
    }
    &_pink{
      color: #8532FD;
    }
  }
  &__par{
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #30125C;
    &_bold{
      font-weight: bold;
    }
  }
  &__background{
    &_purple{
      background: #30125C;
    }
  }
  &__maxWidth{
    &_480{
      max-width: 480px;
    }
  }
}


//   ---     ADD COMPONENTS STYLES HERE   ---   //

@import '../Navbar/navbar.scss';
@import './../Footer/_footer.scss';
@import '../SocialMedia/_socialmedia.scss';
@import '../Roadmap/_roadmap.scss';
@import '../SwapCalculator/_swapcalculator.scss';
@import '../Emission/_emission.scss';
@import '../HeroScreen/heroscreen.scss';
@import '../CountDown/countdown.scss';
@import '../About/about.scss';
@import '../Benefits/benefits.scss';
@import '../ExternalResource/externalresource.scss';
