
//   ---     ADD COMPONENTS STYLES HERE   ---   //

@import './../Footer/_footer.scss';
@import './../SocialMedia/_socialMedia.scss';


//   ---     SOME OTHERS STYLES YOLO   ---   //

.container{
  width: 1450px;
  margin: 0 auto;
  height: auto;
}

.common{
  &__h2{
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #30125C;
    margin-bottom: 29px;
  }
  &__number{
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #30125C;
    margin-bottom: 20px;
  }
  &__par{
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #30125C;
    &_bold{
      font-weight: bold;
    }
  }
}

.common{
  &__h2{
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #30125C;
    margin-bottom: 29px;
  }
  &__number{
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #30125C;
    margin-bottom: 20px;
  }
  &__par{
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #30125C;
    &_bold{
      font-weight: bold;
    }
  }
}

.common{
  &__h2{
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #30125C;
    margin-bottom: 29px;
  }
  &__number{
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #30125C;
    margin-bottom: 20px;
  }
  &__par{
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #30125C;
    &_bold{
      font-weight: bold;
    }
  }
}