//   ---     FONTS   ---   //

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
*:after,
*:before {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

body {
  width: 100%;
  height: 100%;

  background: url('../img/siteBg1.jpg') no-repeat;
  background-size: contain;

  &.bodyOverflowHidden {
    overflow: hidden;
  }
}


a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #8532FD;
}
button {
  cursor: pointer;
}
li {
  list-style: none;
}


@media (max-width: 1366px) {
  *:focus {
    outline: 1px solid #8532FD;
  }
}
//   ---     HUGE IMPORTS HERE LIKE MODULES OR HUGE PINUSES   ---   //

@import './components/Landing/_landing.scss';
