//   ---     FONTS   ---   //

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
*:after,
*:before {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;

  background: url('../img/siteBg1.jpg');
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
//   ---     HUGE IMPORTS HERE LIKE MODULES OR HUGE PINUSES   ---   //

@import './components/Landing/_landing.scss';
