.emission{
  margin-bottom: 178px;
  height: 768px;

  &__background{
    &_circle{
      display: block;
      position: absolute;
      left: -385px;
      top: 136px;
      bottom: -68px;
      width: 1395px;
      height: 864px;
      background: url('./../../../../src/img/huge_bg_circle.svg') no-repeat center;
      background-size: contain;
    }
  }

  &__graphContainer{
    width: 852px;
    height: 768px;
    margin-bottom: 178px;
  }
  &__circleGraph{
    display: block;
    position: relative;
    width: 637px;
    height: 639px;
    bottom: 0;
    margin-left: 208px;
    background: url('./../../../../src/img/graph_0.png') no-repeat center;
    background-size: contain;
    z-index: 0;
    transition: 200ms;
    &:hover{
      transition: 200ms;
    }
  }

  &__badge{
    display: block;
    position: absolute;
    z-index: 20;
    &_1{
      right: 0;
      top: 0;
      &:hover ~ .emission__circleGraph{
      background: url('./../../../../src/img/graph_1.png') no-repeat center;
      }
    }
    &_2{
      left: 90px;
      top: 0;
      &:hover ~ .emission__circleGraph{
      background: url('./../../../../src/img/graph_2.png') no-repeat center;
      }
    }
    &_3{
      left: 0;
      top: 234px;
      &:hover ~ .emission__circleGraph{
        background: url('./../../../../src/img/graph_3.png') no-repeat center;
      }
    }
    &_4{
      left: 59px;
      top: 500px;
      &:hover ~ .emission__circleGraph{
        background: url('./../../../../src/img/graph_4.png') no-repeat center;
      }
    }
    &_5{
      left: 383px;
      bottom: 42px;
      &:hover ~ .emission__circleGraph{
        background: url('./../../../../src/img/graph_5.png') no-repeat center;
      }
    }
    &_6{
      right: 32px;
      bottom: 0;
      &:hover ~ .emission__circleGraph{
        background: url('./../../../../src/img/graph_6.png') no-repeat center;
      }
    }

  }
  &__badgeTitle{
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #30125C;
    margin-bottom: 9px;
  }
  &__badgeSpan{
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000;
    &_1{
      color: #8532FD;
    }
    &_2{
      color: #EE58FF;
    }
    &_3{
      color: #FD32B8;
    }
    &_4{
      color: #22BCDE;
    }
    &_5{
      color: #55E38E;
    }
    &_6{
      color: #A5C34C;
    }
  }
}