.benefits {
  padding-top: 116px;
  padding-bottom: 186px;

  &__background {
    overflow: hidden;
    width: 100%;
    background-color: #F9FBFC;
  }

  &__title {
    width: auto;
    font-style: normal;
    font-weight: bold;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #30125C;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 50px;
    margin-top: 64px;
  }

  &__item {
    display: flex;
    grid-gap: 50px;
    align-items: center;

    &_text {
      max-width: 288px;
      font-style: normal;
      font-weight: 300;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #000000;
    }

    &Icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      background: #FFFFFF;
      background-blend-mode: screen;
      box-shadow: 0px 12px 10px -10px rgba(133, 50, 253, 1);
      border-radius: 25px;


      &_a4{
        box-shadow: 0px 12px 10px -10px rgba(38, 228, 226, 1);
        img {
          width: 68px;
          height: 28px;
        }
      }
      &_safe{

        img {
          width: 38.94px;
          height: 44.93px;
        }
      }
      &_transparency{
        img {
          width: 44px;
          height: 44px;
        }
      }
      &_leverage{
        img {
          width: 38px;
          height: 44px;
        }
      }
      &_liquid{
        img {
          width: 27px;
          height: 27px;
        }
      }
    }
  }

}

@media (max-width: 1767px) {
  .benefits__item {
    grid-gap: 40px;
  }
}
@media (max-width: 1726px) {

  .benefits__item {
    grid-gap: 40px;

    &_text {
      max-width: 220px;
    }
  }
}

@media (max-width: 1660px){
  .benefits__itemIcon {
    width: 85px;
    height: 85px;
  }
}
@media (max-width: 1626px){

  .benefits__items {
    grid-gap: 2%;
  }
  .benefits__item {
    width: 49%;
    margin-bottom: 50px;
    grid-gap: 30px;
  }

  .benefits__item_text {
    width: auto;
    max-width: 70%;
  }
}
@media (max-width: 1024px) {
  .benefits {
    padding: 60px 0;
    &__items {
      margin-top: 50px;
    }
    &__item {
      margin-bottom: 40px;
      &Icon {
        width: 54px;
        height: 54px;
        border-radius: 10px;

        &_a4 {
          img {
            width: 37px;
            height: 15px;

          }
        }
        &_safe{

          img {
            width: 22px;
            height: 24px;
          }
        }
        &_transparency{
          img {
            width: 24px;
            height: 24px;
          }
        }
        &_leverage{
          img {
            width: 21px;
            height: 24px;
          }
        }
        &_liquid{
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}

@media (max-width: 812px) {
  .benefits {
    &__items {
      flex-direction: column;
    }
    &__item {
      width: 83%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
@media (max-width: 500px) {
  .benefits {
    padding-bottom: 180px;
  }
}
@media (max-width: 428px) {
  .benefits__item_text {
      max-width: 60%;
  }
}
@media (max-width: 414px) {
  .benefits__item_text {
      max-width: 65%;
  }
}
